 
# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
TensorflowTTS.egg-info
TensorFlowTTS.egg-info
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
ljspeech
*.h5
*.npy
./*.wav
*.yml
!docker-compose.yml
/Pipfile
/Pipfile.lock
/datasets
/examples/*/exp/
mfa/
synthesis_sentences
saved_models
training_data_old
training_data
dataset_process
train_scripts
test_scripts

